/*
Theme Name: VW Logistics Shipping
Theme URI: https://www.vwthemes.com/themes/free-logistics-wordpress-theme/
Author: VWThemes
Author URI: https://www.vwthemes.com/
Description: VW Logistics Shipping is an impeccably designed digital template tailored to cater to the discerning needs of businesses operating within the realm of shipping and logistics. In essence, it serves as the virtual attire for your website, akin to selecting a finely tailored suit for a corporate presentation – it epitomizes sophistication and aids in conveying a poised message to your web audience. Visualize your website as a high-end boutique, and this theme is the meticulously crafted visual storefront. It boasts a polished and professional aesthetic replete with arresting imagery, an exquisite color palette, and thoughtfully structured layouts, ensuring that your visitors are instantaneously immersed in the essence of your shipping and logistics enterprise. This theme exhibits a user-centric disposition, guaranteeing that your clientele experiences seamless navigation without getting lost amidst a labyrinthine maze of menus, thereby facilitating a user-friendly interface. The theme offers an unparalleled degree of versatility, akin to a diversified wardrobe replete with options to suit any occasion. Its customizable nature ensures that it harmonizes effortlessly with the distinctive identity of your brand, providing a platform for the comprehensive presentation of services, pricing models, and the composition of your proficient team. Furthermore, it facilitates the seamless dissemination of pivotal updates, corporate news, and client testimonials, effectively mirroring the art of sharing your latest achievements with an audience of global proportions.
Requires at least: 5.0
Tested up to: 6.4
Requires PHP: 7.2
Version: 0.1.8
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: vw-logistics-shipping
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, wide-blocks, block-styles, block-patterns, flexible-header, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, translation-ready, threaded-comments, post-formats, rtl-language-support, blog, e-commerce, portfolio

VW Logistics Shipping WordPress Theme has been created by VW Themes(vwthemes.com), 2023.
VW Logistics Shipping WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */

*{
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  overflow-x: hidden;
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  position:relative;
  background-color: #fff;
  font-size: 15px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
img{
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
section img{
  max-width:100%;
}
h1, h2, h3, h4, h5, h6{
  color: #000000;
  font-weight: 700;
}
p {
  color: #8d8b8b;
  font-size: 15px;
}
a{
  text-decoration:none;
  color: #FF8800;
}
a:hover{
  text-decoration:none;
  color:#FF8800;
}
a:focus span, a:focus, input[type="text"]:focus,input[type="email"]:focus, input[type="phno"]:focus, input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, textarea:focus,input[type="submit"]:focus,#comments:focus,select:focus,button:focus,.main-navigation ul ul a:focus,
.toggle-nav button:focus,.main-navigation a:focus,.toggle-nav button:focus, button.close:focus {
  outline: 2px solid #0d6efd !important;
  text-decoration:none !important;
}
.close:focus, .close:hover {
  color: #fff;
}
code {
  color: #212fcd;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  text-align:center;
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{
  margin: 0 auto;
  padding: 3em 0;
}
.wp-caption{
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
.wp-caption-text{
  margin:0;
  padding:0;
}
.sticky{
  margin:0;
  padding:0;
}
.sticky .post-main-box h2:before{
  content: '\f08d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 20px;
  font-size: 20px;
  color: #FF8800;
}
.gallery-caption{
  margin:0;
  padding:0;
}
.alignleft,img.alignleft {
  display: inline;
  float: left;
  margin-right:20px;
  margin-top:4px;
  margin-bottom:10px;
  padding:0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
}
.alignnone,img.alignnone {
  padding: 5px;
}
.comment-list .comment-content ul {
  list-style:none;
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
  margin:0;
  padding:0;
}
input[type="text"],input[type="email"],input[type="phno"],input[type="password"], textarea,input#url{
  border:1px solid #c8c8c8;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:auto;
}
input[type="submit"], input.button {
  text-align:center;
  font-size:15px;
  padding: 15px 30px;
  background: #ff7109;
  font-weight:bold;
  color: #fff;
  border: none;
}
div#respond{
  border-top: solid 1px #c8c8c8;
  margin-bottom: 18px;
}
h2#reply-title {
  margin-top: 20px;
}
/*---------- WIDE BLOCKS ------------*/

.alignwide {
  margin-left  : -60px;
  margin-right : -60px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}
/*css for block-cover and block-image*/
.services .alignfull, .services .alignwide{
  margin: 15px 0px;
}
.services .alignfull img{
  width: 100%;
}
/*without classic widgets plugin*/
#sidebar label.wp-block-search__label, #sidebar .wp-block-heading{
  background: #FF8800;
  color: #fff;
  display: table;
  margin: -45px auto 12px auto;
  width: auto;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#sidebar h3 a.rsswidget{
  margin-right: 10px;
}
#sidebar .wp-block-tag-cloud a {
  border: solid 1px #000;
  color: #000;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#sidebar .wp-block-tag-cloud a:hover {
  background: #FF8800;
  color: #fff !important;
  border: 1px solid transparent;
  transition: 0.1s;
}
.wp-block-post-comments-form .comment-reply-title{
  padding-top: 15px;
}
li#comment-2{
  margin-bottom: 10px;
}
#sidebar .wp-block-latest-posts.wp-block-latest-posts__list, #sidebar ul.sub-menu{
  display: block !important;
}

/*footer without classic widgets*/
.rss-widget-title{
  font-size: 24px !important;
}
#footer .widget{
  margin-top: 20px;
  margin-bottom: 20px;
}
.custom-about-us a.custom_read_more{
  background: #FF8800;
  border-radius: 5px;
  padding: 10px 22px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.custom-about-us .custom_author{
  margin-bottom: 12px;
  margin-top: 12px;
}
#footer .wp-block-tag-cloud a {
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer .wp-block-tag-cloud a:hover {
  background: #FF8800;
  color: #fff !important;
  border: 1px solid transparent;
  transition: 0.1s;
}
#footer ul li a{
  color: #fff;
  font-size: 15px;
}
#footer .wp-block-latest-posts.wp-block-latest-posts__list, #footer ul.sub-menu {
    display: block !important;
}
/*---------- ACCESSIBILITY ------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
/* ------------ LOGO CSS ----------- */
p.site-title , .site-description a{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}
.site-title a{
  font-size: 25px !important;
  font-weight: 600 !important;
}
p.site-title a, .logo h1 a, .logo p.site-description{
  color: #000;
}
p.site-title a:hover, .logo h1 a:hover{
  color: #FF8800;
}
.menu-bar-sec i{
  color: #000;
}

/*plugin css*/
table.compare-list .add-to-cart td a:not(.unstyled_button){
  background: #FF8800;
}
/*----------------- TOP BAR ----------------*/
.topbar{
  padding: 10px 0px;
  background: #000000;
}
.topbar a, .topbar p, .topbar i, .meta-sec{
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
}
.topbar i{
  color:#FF8800;
}
.topbar .email a{
  text-transform: lowercase;
}
.topbar-social-icon .custom-social-icons {
  display: inline-flex;
}
.topbar-social-icon .custom-social-icons .custom_title{
  display: none;
}
.topbar-social-icon .widget{
  margin-bottom: 0 !important;
}
.topbar-social-icon .custom-social-icons i{
  padding: 0 15px;
  color: #fff !important;
  font-size: 18px;
}
.topbar-social-icon .custom-social-icons i:hover{
  color: #FF8800 !important;
}
.topbar-social-icon .custom-social-icons span{
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 45px;
  text-align: center;
  border-left: 2px dotted #FF8800;
  border-radius: 30px;
  margin-left: 10px;
}
.topbar-social-icon .custom-social-icons span:hover{
  border-left: 2px dotted #fff;
}
/*Middle Header*/
.topbar-button a{
  padding: 12px 18px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: 600;
  text-transform: capitalize;
}
.middle-header-section{
  background: #fff;
}
/* --------- Header --------- */
.admin-bar .home-page-header{
  margin-top: 32px;
}
#comments input[type="submit"]:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.widget_product_search button:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce a.added_to_cart.wc-forward:hover {
  background: #FF8800;
  color: #fff;
}
.page-template-custom-home-page .home-page-header{
  border-bottom: none;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.home-page-header{
  border-bottom: 2px solid #FF8800;
}
/* ------------ Social Media ----------- */
.social-media .custom_title{
  display: none;
}
.social-media{
  position: relative;
}
.social-media .custom-social-icons i{
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  padding: 14px 0;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  text-align: center;
}
.social-media .custom-social-icons i:hover{
  background-color: #FF8800;
  color: #333029;
}
.social-media .custom-social-icons{
  display: inline-flex;
  position: absolute;
  right: 10%;
  bottom: 100px
}
/* --------- MENUS CSS --------- */

.main-navigation ul li.current_page_item a{
  border-bottom: 2px solid #FF8800;
}
#mySidenav {
  display: inline-block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a {
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 8px 16px;
  text-transform: capitalize;
  position: relative;
}
.main-navigation ul ul li a:hover, .main-navigation li a:focus, .main-navigation ul ul a:focus, .main-navigation ul ul a:hover {
  color: #FF8800;
}
.main-navigation ul ul li.current_page_item, .main-navigation ul ul li a:hover{
  background-color: transparent;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 100%;
  line-height: 30px;
  box-shadow: 0px 3px 4px 1px #eee;
  border-radius: 5px;
  border-top: 2px solid #FF8800;
  border-bottom: 2px solid #FF8800;
}
.main-navigation ul li.page_item_has_children.focus ul,.main-navigation ul li.menu-item-has-children.focus ul{
  opacity: 1;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0%;
}
.main-navigation ul.sub-menu a:hover{
  padding-left: 50px !important;
  background: transparent;
  box-shadow: none;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #000;
  top: auto;
  bottom: auto;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  left: 15px;
  width: 20px;
}
.main-navigation ul.sub-menu>li>a:after, .main-navigation ul.sub-menu>li>a:hover:after{
  content: none;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.search-box i{
  color: #000;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*---------Sticky Header---------*/
.header-fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed {
  margin-top: 20px !important;
  padding: 10px;
  border-bottom: 2px solid #FF8800;
}
/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn, .social-icons h3.custom_title{
  display: none;
}
/* --------- SLIDER--------- */
#slider:after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: left;
  background-size: 79% 100%;
  background-repeat: no-repeat;
  z-index: 9;
}
.slider-small-text{
  color: #FF8800;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
#slider{
  max-width:100%;
  margin:auto;
  position: relative;
}
#slider img {
  width: 100%;
  object-fit: cover;
}
#slider .carousel-control-next, #slider .carousel-control-prev {
  width: 15%;
  opacity: 1;
  z-index: 99;
}
#slider .carousel-control-next i, #slider .carousel-control-prev i {
  color: #ffffff;
  font-size: 25px;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
}
#slider .carousel-control-next i:hover, #slider .carousel-control-prev i:hover{
  background-color: #FF8800;
  border-color: #FF8800;
}
#slider .carousel-caption {
  top: 55%;
  transform: translateY(-50%);
  bottom: auto;
  text-align: left;
  z-index: 99;
  left: 15%;
  right: 50%;
}
#slider .inner_carousel h1 {
  font-size: 50px;
  font-weight: 600;
}
#slider .inner_carousel h1 a{
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 45px;
}
#slider .inner_carousel h1 a:hover{
  color:#FF8800;
}
#slider .inner_carousel h1 a:after,.main-heading:after{
  content: '';
  background: url(./assets/images/line.png);
  padding-bottom: 20px;
  background-repeat: no-repeat;
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
}
#slider p{
  font-weight: 500;
  color: #fff;
}
#slider .more-btn a, .more-btn a{
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 15px 5px 15px 10px !important;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #fff;
}
#slider .more-btn a i, .more-btn a i{
  margin-left: 10px;
  padding: 8px 8px;
  background: #fff;
  border-radius: 5px;
  color: #FF8800;
}
#slider .more-btn a:hover{
  background: #FF8800;
  color: #fff;
}
/* --------- About Section --------- */
.small-title{
  color: #FF8800;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
}
.main-heading{
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 34px;
}
.about-sec-para{
  color: #000;
}
.img-list{
  font-size: 16px;
  color: #000;
  width: 150px;
  display: inline-flex;
  margin-bottom: 0 !important;
}
.about-btn a{
  padding: 12px 18px;
  background: #000;
  color: #fff;
  font-weight: 700;
  border: 1px solid #000;
}
.about-btn a:hover, .topbar-button a:hover{
  border: 1px solid #FF8800;
  background: #FF8800;
  color: #fff;
}
.about-list i, .about-img-list i{
  color: #FF8800;
}
.about-img-list i{
  font-size: 30px;
  float: left;
  width: 10%;
}
.about-img-list span {
  width: 85%;
  float: right;
  margin-top: 3px;
}
/* Form Css */
.calc-container{
  display: block !important;
}
.calc-container .calc-list .calc-item:nth-child(2),
.calc-container .calc-list .calc-item:nth-child(3) {
  width: 49%;
}
textarea#text_area_, span.calc-drop-down-with-image-current.calc-dd-toggle.ccb-appearance-field{
  background: transparent !important;
  border: none !important;
  padding: 20px 0px 0px 0px !important;
  color: #fff !important;
}
.calc-textarea-box{
  border-bottom: 2px solid #fff;
}
.calc-container .calc-list .calc-list-inner{
  width: 400px;
  padding: 10px 14px !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.calc-item__title span{
  font-size: 16px !important;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 500 !important;
}
.calc-fields.calc-list.calc-list__indexed.loaded{
  position: absolute;
  width: clamp(300px, 25% ,350px);
  right: 0;
  transform: translate(0%, -165%);
}
.calc-container .calc-list .calc-item{
  width: 100%;
}
.calc-subtotal-list.show-unit,
.calc-subtotal-list.calc-buttons,.calc-item-title.calc-accordion+.calc-subtotal-list,.calc-item-title ,.calc-item .ccb-field,.calc-item__title{
  display: none !important;
}
.calc-container textarea{
  resize: none !important;
}
.calc-container .calc-list .calc-fields-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.calc-fields-container {
    row-gap: 5px !important;
}
.ccb-appearance-field {
  padding: 12px 20px 0px !important;
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
  background: #0000 !important;
}
::placeholder {
  font-size: 18px !important;
  color: #fff !important;
}
.calc-range-slider__progress:before {
  background: #FF8800 !important;
  height: 10px;
}
#slider div[data-id ^="range"] span {
    color: #fff !important;
}
.calc-range-slider__progress::after {
  background-color: #fff !important;
  height: 10px;
}
.calc-item__title, textarea#text_area_::placeholder {
  font-size: 16px !important;
}
.calc-container .calc-list .calc-item {
  position: relative;
  width: 100%;
}
.calc-item__title.ccb-range-field{
  display: flex !important;
}
.calc-range-slider{
  primary-color: #131313;
}
.calc-subtotal-wrapper {
  max-width: 450px !important;
  width: 100%;
  margin: 29px auto !important;
  padding: 4px 21px !important;
  position: absolute;
  width: clamp(300px, 25% ,350px);
  right: 21px;
  transform: translate(0%, -277%);
}
.calc-subtotal-list.unit-enable{
  margin-top: 0 !important;
}
.sub-item-title{
  border: 1px solid #fff;
  padding: 10px;
}
.calc-container .calc-list .calc-subtotal-list .sub-list-item{
  justify-content: start !important;
}
.calc-container .calc-list .calc-subtotal-list .sub-list-item.total{
  padding: 10px !important;
}
.sub-item-title{
  color: #fff;
}
.sub-item-value{
  padding: 4px 8px !important;
  background: #FF8800;
  color: #fff;
}
#slider .calculator-settings.ccb-front{
  margin: 0 !important;
}
#slider .calc-container .calc-list .calc-fields-container {
  row-gap: 5px !important;
}
.calc-range-slider>input:first-of-type{
  margin-top: 4px !important;
}
#slider input[type="range"]::-webkit-slider-thumb {
  border: 10px solid #FF8800 !important;
  background-color: #FF8800 !important;
  width: 0px;
  height: 0px;
  cursor: pointer;
  -webkit-appearance: none;
  z-index: 9999999999999;
  accent-color: #ff8800 !important;
}
.sub-list-item.total{
  border-top: none !important;
}
/*Woocommerce star*/
.woocommerce ul.products li.product .star-rating{
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
  color: #fdce38;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%);
}
.woocommerce ul.products li.product .star-rating:before{
  content: "\73\73\73\73\73";
  color: #fdce38;
  float: right;
  top: 0;
  left: 0;
  position: absolute;
}
.woocommerce ul.products li.product .star-rating span::before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
}
.woocommerce ul.products li.product .star-rating span{
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
/* --------- BUTTONS--------- */
.more-btn a , #comments input[type="submit"],#comments a.comment-reply-link,input[type="submit"],.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.pro-button a, .woocommerce a.added_to_cart.wc-forward {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 12px 20px !important;
  text-transform: capitalize;
  text-decoration: none !important;
  font-weight: 600;
}
.more-btn a:hover, #comments a.comment-reply-link:hover,.pagination a:hover,#footer .tagcloud a:hover, .pro-button a:hover{
  background: #FF8800;
  color: #fff;
}
.woocommerce a.added_to_cart.wc-forward {
  margin-left: 10px;
  line-height: 1;
}
/*----------- PRELOADER ----------*/
#preloader {
  background: #FF8800;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* --------- FOOTER ------- */
#footer .tagcloud a{
  border: solid 1px #ffffff;
  color:#ffffff;
  font-size: 14px !important;
  padding: 6px 12px;
  display:inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover{
  background: #FF8800;
  border: solid 1px #FF8800;
}
#footer input[type="submit"]{
  margin-top: 0;
  font-size: 15px;
  width: 100%;
  background: #FF8800;
  color: #fff;
  border-radius: 0;
}
#footer label, iframe, .entry-audio audio, #our-services iframe,#sidebar input[type="submit"],span.woocommerce-input-wrapper,.checkout label,.woocommerce-page form .password-input,.woocommerce label {
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #ffffff;
  background:transparent;
  color: #fff;
}
#footer caption,#sidebar caption {
  color: #ffffff;
  font-size: 20px;
}
#footer table,#footer th,#footer td{
  border: 1px solid #ffffff;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #ffffff;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #ffffff;
}
#footer nav.wp-calendar-nav a {
  color: #fff;
}
#footer ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 15px;
}
#footer ul {
  margin: 0;
  padding-left: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  background: #121212;
}
#footer-2 {
  background: #FF8800;
}
#footer h3, #footer .wp-block-search .wp-block-search__label{
  font-size: 30px;
  letter-spacing: 1px;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
}
#footer .wp-block-search .wp-block-search__inside-wrapper, #sidebar .wp-block-search .wp-block-search__inside-wrapper{
  flex-wrap: wrap;
  display: block;
}
#footer .wp-block-search .wp-block-search__input, #sidebar .wp-block-search .wp-block-search__input {
  padding:10px 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#4d4749;
  border: solid 1px #e1e1e1;
  width: 100%;
  border-radius: 3px;
}
#footer .wp-block-search .wp-block-search__button, #sidebar .wp-block-search .wp-block-search__button{
  background: #FF8800;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  margin-left: 0;
  border-radius: 5px !important;
}
#footer p, #footer li a,#footer, #footer h3,#footer #wp-calendar a,.copyright a,#footer .custom_details,#footer ins span,#footer .tagcloud a,.main-inner-box span.entry-date a,nav.woocommerce-MyAccount-navigation ul li:hover a {
  color: #fff;
  font-size: 15px;
}
#footer a.rsswidget.rss-widget-title{
  color: #fff;
}
#footer p{
  line-height: 30px;
}
.copyright p {
  font-size: 16px;
  color: #fff;
}
.copyright a:hover{
  color: #000;
}
.scrollup i{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  right: 15px;
  font-size: 25px;
  display: none;
  background: #FF8800;
  z-index: 999;
  color: #fff;
  padding: 12px;
  border-radius: 50px;
}
.scrollup.left i{
  left: 10px;
}
.scrollup.center i{
  left: 50%;
  right: 50%;
}
/* --------- BLOG PAGE ------- */
.post-main-box, .grid-post-main-box{
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  padding: 30px 10px;
}
.post-main-box:hover h2 a, .post-main-box:hover .post-info span a, .single-post .post-info:hover a, .middle-bar h6,
.grid-post-main-box:hover h2 a, .grid-post-main-box:hover .post-info span a {
  color: #FF8800;
}
.post-main-box h2 a, .post-main-box p,
.grid-post-main-box h2 a, .grid-post-main-box p {
  color: #000;
}
.post-main-box h2, .grid-post-main-box h2 {
  font-size: 25px;
}
.new-text p {
  line-height: 26px;
}
.new-text h2 {
  font-size: 30px;
  letter-spacing: 1px;
}
.post-info{
  font-size: 12px;
  background: #F6F6F6;
}
.single-post .post-info{
  background: #F6F6F6;
}
.post-info span {
  margin-right: 1%;
}
.post-info span a, span.entry-comments, span.entry-time{
  font-weight: bold;
  letter-spacing: 1px;
  color: #222;
  font-size: 13px;
}
.post-info i{
  color: #222;
}
.tags-bg a {
  text-decoration: none!important;
  font-weight: 400;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.tags-bg a:hover{
  color: #FF8800 !important;
}
.related-post h2{
  margin-top: 20px !important;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: left;
  margin-bottom: 0;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1;
  color:#000;
  padding:5px 15px;
  margin-right:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd;
  color:#000;
  padding:5px 15px;
}
/*-------------- Comments BOX------------- */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
  padding-left: 0;
}
#comments{
  margin-top:30px;
}
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}
#comments input[type="text"],#comments input[type="email"],#comments textarea,input#url{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"],#comments a.comment-reply-link{
  padding: 10px 20px;
  text-decoration: none;
}
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 0 0 20px !important;
  padding: 20px !important;
  background: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}
.comment-meta.commentmetadata {
  float: right;
  width: 50%;
  text-align: right;
}
#comments .reply{
  float:left;
  margin-bottom: 15px;
}
#comments .comment-author {
  width: 50%;
  float: left;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:100%;
  float:left;
  margin:10px 0 10px 0;
}
#comments .comment-content p {
  width:100%;
  float:left;
  color: #000;
}
/*footer*/
#footer ul li::before{
  content: "" !important;
  font-family: 'FontAwesome' !important;
  margin-right: 10px !important;
  height: 8px !important;
  width: 8px !important;
  background:#fff !important;
  display: inline-block !important;
  transform: rotate(-45deg) !important;
}
/*------------ Sidebar------------------- */
#sidebar ul li::before{
  content: "" !important;
  font-family: 'FontAwesome' !important;
  margin-right: 10px !important;
  height: 8px !important;
  width: 8px !important;
  background:#FF8800 !important;
  display: inline-block !important;
  transform: rotate(-45deg) !important;
}
#sidebar .custom-social-icons{
  text-align: center;
}
#sidebar .custom-social-icons p,#footer .custom-social-icons p{
  margin-bottom: 30px !important;
  display: inline-block;
}
#sidebar .custom-social-icons a,#footer .custom-social-icons a{
  padding: 10px 15px;
  color: #333029;
  background: #FF8800;
}
#sidebar .custom-social-icons a:hover, #footer .custom-social-icons a:hover, #footer input[type="submit"]:hover{
  background: #FF8800;
  color: #333029;
}
#sidebar h3.custom_title{
  margin-bottom: 25px;
  padding: 15px;
}
#sidebar caption {
  color: #151821;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #151821;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #151821;
}
#sidebar select, .woocommerce .woocommerce-ordering select{
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #151821;
  background: transparent;
}
#sidebar h3,  #sidebar .widget_block h3, #sidebar h2{
  font-size: 25px;
  display: table;
  margin: -45px auto 10px auto;
  background: #FF8800;
  color: #fff;
  border-radius: 0px;
  padding: 10px;
}
#sidebar .widget_block h3, #sidebar h2{
  padding: 15px;
}
#sidebar input[type="search"],
input.search-field {
  font-size:15px;
  margin-bottom: 10px;
  color:#151821;
  border: 1px solid #e1e1e1;
  background: #f7f7fd;
  width: 100%;
  padding: 10px;
  border-radius: 0px;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar .widget {
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  margin-bottom: 50px;
  padding: 12px;
}
#sidebar .widget p{
  color: #000;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li{
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 43px;
}
#sidebar ul li:hover {
  margin-left: 10px;
  transition: 0.5s;
  color: #FF8800;
}
#sidebar ul li a {
  color: #000;
  font-size: 15px;
}
#sidebar .tagcloud a{
  border: solid 1px #000;
  color: #000;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#sidebar .tagcloud a:hover{
  background: #FF8800;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.1s;
}
#sidebar h3 a.rsswidget{
  color: #fff;
}
.nav-previous,.nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}
.woocommerce-page #sidebar {
  margin-top: 20px;
}
.hidden-title-form .edit-title-buttons {
    top: calc(50% - 26px);
}
.woocommerce ul.products li.product{
  padding: 30px 20px 20px 20px;
  border: 1px solid #D8D8D8;
  text-align: center;
  background: #fff ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.woocommerce ul.products li.product a img{
  max-height: 300px;
  object-fit: contain;
}
/*------------ PAGE CSS -------------*/
.post-main-box:hover h3 a,#sidebar ul li a:hover, #footer li a:hover,.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,.post-navigation a:hover,.post-navigation a:focus{
  color: #FF8800;
}
.error404 .page-content{
  text-align: center;
  margin: 30px 0 40px 0;
}
#content-vw a,.entry-content a,.widget_text a,.woocommerce-page .entry-summary a,.comment-content p a{
  text-decoration: underline;
}
.woocommerce-page .entry-summary a{
  text-decoration: none !important;
}
.wishlist_table tr td, .wishlist_table tr th.product-checkbox, .wishlist_table tr th.wishlist-delete{
  text-align: left !important;
}
.woocommerce table.shop_table th{
  font-size: 16px !important;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table{
  font-size: 16px !important;
}
.woocommerce a.remove{
  text-decoration: none !important;
}
.woocommerce-error {
  border-top-color: #FF8800;
}
.woocommerce-error::before{
  color: #FF8800;
}
.woocommerce div.product form.cart{
  margin-bottom: 10px;
}
.yith-wcwl-add-button>a i{
  margin-right: 0;
}
/*------------- PAGINATION CSS --------------*/

p.post-nav-links, .post-nav-links span, .post-nav-links a {
  float: unset !important;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:right;
  font-weight:bold;
  width:100%;
  margin-bottom: 30px;
}
.pagination span, .pagination a, .post-nav-links span, .post-nav-links a{
  display:block;
  float:left;
  margin: 2px 5px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color: #fff;
  background: #FF8800;
  border-radius: 0;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover, .pagination .current{
  background: #000;
  color: #fff;
}
.pagination .current {
  padding: 10px 15px;
  font-weight: bold;
}
.post-navigation,.post-navigation,.nav-previous,.related-post,#respond,.clear{
  clear:both;
}
.nav-previous {
  float: left;
  width: 50%;
}
.post-navigation .current .screen-reader-text {
  position: absolute !important;
}
.post-navigation a {
  color: #151821;
  display: block;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px;
  color: #000;
}
.post-navigation span.meta-nav:hover{
  color: #FF8800;
}
.nav-previous span.meta-nav:before {
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-next span.meta-nav:after {
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span {
  display: block;
}
.post-navigation .meta-nav {
  color: #686868;
  font-size: 13px;
  line-height: 1.6153846154;
  margin-bottom: 0.5384615385em;
  text-transform: uppercase;
}
.post-navigation .post-title {
  display: none;
}
.post-navigation:before {
  right: 0;
}
.post-navigation:after {
  right: 54px;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .page-numbers {
  display: inline-block;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,.post-navigation .next {
  background: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,.post-navigation .prev:focus,.post-navigation .next:hover,.post-navigation .next:focus {
  background: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  right: 54px;
}
/*------------- WOOCOMMERCE CSS --------------*/
.woocommerce .woocommerce-breadcrumb,.woocommerce .woocommerce-breadcrumb a{
  color: #151821;
}
.widget_product_search button{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 18px 15px 14px;
  background: #000;
  font-weight: bold;
  color: #fff;
  border: none;
  width: 100%;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #feaf18;
}
.woocommerce .products .star-rating{
  font-size: 15px !important;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.woocommerce span.onsale {
  top: 15px !important;
  border-radius: 5px;
  min-height: 2em;
  min-width: 4em;
  line-height: 2;
  left: 8px !important;
  right: auto !important;
  background: #FF8800;
  color: #fff;
}
.woocommerce div.product span.onsale{
  left: 20px !important;
  right: auto !important;
  top: 20px !important;
}
h2.woocommerce-loop-product__title {
  font-size: 18px !important;
  padding: 0px 0 10px 0 !important;
  font-weight: 500;
}
.woocommerce div.product .product_title {
  font-size: 25px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price {
  color: #000;
  font-size: 16px;
  margin-top:0px;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border: solid 2px #000;
  color: #000;
}
.woocommerce div.product form.cart div.quantity {
  margin-right: 10px;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 12px 20px;
  margin-bottom: 10px;
  background: #FF8800;
  color: #fff;
}
nav.woocommerce-MyAccount-navigation ul li:hover{
  background: #FF8800;
  color: #333029 !important;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none !important;
  font-weight: 600;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
  background: #fff;
}
span.posted_in {
  display: block;
  margin-top: 10px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.woocommerce-message,.woocommerce-info{
  border-top-color: #FF8800;
}
.woocommerce-message::before,.woocommerce-info::before{
  color: #FF8800;
}
.related.products ul li {
  width: 29% !important;
}
.woocommerce #comments p{
  float: none;
  margin-top: 0px !important;
}
.woocommerce #comments ol li{
  padding: 0 !important;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce ul.products li.product .button {
  margin-top: 5px;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table {
  border-color: 1px solid rgba(0,0,0,.1);
}
.woocommerce .select2-container--default .select2-selection--single , .woocommerce input#billing_phone{
  padding: 10px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce .select2-container--default .select2-selection--single{
  padding: 10px 10px 30px 10px;
}
.woocommerce .select2-container .select2-selection--single, .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.woocommerce #payment{
  margin: 0 0 30px 0;
}
.woocommerce ul.products li.product .button, .woocommerce a.added_to_cart.wc-forward{
  margin-top: 5px;
  border-radius: 6px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 115px !important;
  padding: 7px 0px 7px 8px !important;
  margin: 0px 10px 0px 0 !important;
}
.woocommerce ul.products li.product a{
  text-decoration: none !important;
}
.woocommerce td.product-name a {
  text-decoration: none !important;
}
.form-row.place-order .woocommerce-privacy-policy-text p {
  color: #000;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding: 15px !important;
}
.woocommerce-product-details__short-description{
  display: none;
}
.wishlist_table .product-stock-status span.wishlist-in-stock {
    color: #FF8800;
}
/*cart and checkout css*/
.wp-block-woocommerce-cart .wc-block-cart__submit-button, .wc-block-components-checkout-place-order-button, .wc-block-components-totals-coupon__button{
  background-color: #000 !important;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 10px;
  border: none !important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart__submit-button:hover, .wc-block-components-checkout-place-order-button:hover{
  background: #FF8800 !important;
  color: #fff !important;
}
.wp-block-woocommerce-cart .wc-block-cart-items,.wp-block-woocommerce-cart-order-summary-block, .wp-block-woocommerce-checkout-order-summary-block{
  border: 1px solid #dee2e6!important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart-items__header-image, .wc-block-cart-items__header-total{
  padding: 10px !important;
}
.wp-block-woocommerce-cart .wc-block-cart .wc-block-cart__submit-container{
  margin-top: 20px;
}
.wp-block-woocommerce-cart .wc-block-components-product-badge{
  background-color: #000 !important;
  color: #1b1b1b !important;
  padding: 10px !important;
  margin-bottom: 10px;
  margin-top:10px ;
}
a.wc-block-components-product-name, .wc-block-components-product-name{
  font-size: 22px !important;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
.wc-block-components-order-summary-item__quantity{
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
  padding-right:0% !important; 
}
.wp-block-woocommerce-cart.alignwide, .wp-block-woocommerce-checkout.alignwide.wc-block-checkout{
  margin-right: auto !important;
  margin-left: auto !important;
}
.related-post .post-main-box{
  padding: 30px 10px;
}
#slider .carousel-control-next, #slider .carousel-control-prev{
  outline: none !important;
}
/*cart page*/
li.wc-block-grid__product{
  border: 1px solid #dcdcdc;
  padding: 10px;
  max-width: 30.75% !important;
  float: left;
  margin: 0 2% 2.992em 0;
}
.wc-block-grid__product-onsale{
  padding: 5px 10px !important;
  background-color: #FF8800 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  top: 5px !important;
  right: 5px !important;
  left: auto !important;
  margin: -0.5em -0.5em 0 0 !important;
}
.wc-block-grid__product-title{
  font-size: 22px !important;
  color: #000 !important;
  font-weight: 600; 
}
a.wc-block-grid__product-link{
  text-decoration: none !important;
}
a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart{
  padding: 10px 25px;
  border-radius: 8px !important;
  font-size: 16px;
  left: auto;
}
span.woocommerce-Price-amount.amount{
  font-size: 16px;
}
h2.wp-block-heading.has-text-align-center{
  margin: 10px 0;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,  a.closebtn.mobile-menu:focus{
    outline: 2px solid #1858cc;
  }
  .toggle-nav {
    display: none;
    position: relative;
    cursor: pointer;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    padding: 11px 12px;
    background: #FF8800;
  }
  .toggle-nav button {
    border: none;
    padding: 0;
  }
  .sidenav, .left-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: -110%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show, .left-menu.show{
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn, .left-menu .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    top:0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .left-menu ul li, .left-menu ul li a {
    color: #000;
  }
  .left-menu ul li:hover {
    background: transparent;
  }
  .toggle-nav{
    display: block;
    margin: 5px 0px 5px 0;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid;
    display:block;
  }
  .main-navigation ul li.current_page_item, .main-navigation li a:hover {
    background-color: transparent;
    border-radius: 0px;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000 !important;
    display: block;
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-right: none;
  }
  .main-navigation a:hover {
    background: #fff !important;
    color: #FF8800 !important;
  }
  .main-navigation .current-menu-item > a:after{
    content: none;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-left:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
    opacity: 1;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-left: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-left: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  }
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after, .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .admin-bar #mySidenav{
    margin-top: 0px;
  }
  #slider .inner_carousel p{
    display: none;
  }
}
@media screen and (max-width:720px) {
  #sidebar h3, #sidebar .wp-block-search .wp-block-search__label{
    margin: 0px auto 10px auto;
  }
  .admin-bar .home-page-header{
    margin-top: 46px;
  }
  .main-header input[type="search"]{
    width: 78%;
  }
  button.product-btn,.product-cat{
    width: 100%;
  }
  .social-media .widget{
    margin-bottom: 0 !important;
  }
  .social-media .custom-social-icons {
    right: 6px;
    bottom: 10px;
  }
  .middle-header input[type="search"]{
    width: 75%;
  }
  .menu-section-sec, .myaccount, .search-box-sec{
    border: none;
  }
  .banner-caption {
    margin-bottom: 26%;
  }
  .arrow-img img,#slider .slider-small-text,#slider .inner_carousel h1 a:after{
    display: none;
  }
  .page-template-custom-home-page .home-page-header{
    position: static;
  }
  .topbar,.middle-header-section{
    padding: 20px 0px;
  }
  .site-title a{
    font-size: 18px !important;
  }
  #slider .more-btn a{
    padding: 10px !important;
  }
  .main-navigation ul li.current_page_item a{
    border-bottom:none;
  }
  #slider .inner_carousel h1,#slider .inner_carousel h1 a{
    font-size: 20px;
  }
  .slider-small-text,#slider .carousel-caption{
    text-align: center;
  }
  #slider .carousel-caption{
    right: 0;
    left: 0 !important;
    top: 45%;
    text-align: center !important;
  }
  .calc-list-inner{
    width: 300px !important;
  } 
  tr.wc-block-cart-items__row {
    gap: 0.4em;
  }
  td.wc-block-cart-item__total{
      padding-left: 0px !important;
  }
  li.wc-block-grid__product{
      max-width:100% !important;
      float:none;
      flex: 100% !important;
  }
  #slider .carousel-control-next, #slider .carousel-control-prev{
    width: 8%;
  }
  #slider .carousel-control-next i, #slider .carousel-control-prev i{
    padding: 8px;
  }
  .carousel-control-prev{
    left: 8px;
  }
  .carousel-control-next{
    right: 8px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .calc-subtotal-wrapper {
    max-width: 300px !important;
    padding: 4px 0px !important;
  }
}
@media screen and (max-width:767px) {
  .calc-fields.calc-list.calc-list__indexed.loaded{
    position: static !important;
    transform: translate(0%, 11.5%);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .calculator-settings.ccb-front{
    background: #000;
  }
  .carousel-control-prev, .carousel-control-next{
    bottom: 40em;
  }
  .about-img-list span {
    width: 75%;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 1000px){
  .admin-bar #mySidenav {
    margin-top: 35px;
  }
  #topbar .box-topbar .row.inner-topbar {
    margin: 10px 0;
  }
  .top-header{
    padding-top: 24px !important;
  }
  .main-header input[type="search"]{
    width: 70%;
  }
  .main-header button[type="submit"] {
    padding: 0px 20px;
  }
  .middle-header input[type="search"]{
    width: 85%;
  }
  .page-template-custom-home-page .home-page-header{
    position: static;
  }
  .topbar a, .topbar p, .topbar i, .meta-sec{
    font-size: 12px;
    font-weight: 600;
  }
  .topbar-social-icon .custom-social-icons i{
    padding: 0 6px;
  }
  .topbar p{
    margin-bottom: 0;
  }
  .topbar {
    padding: 20px 0px 10px
  }
  #slider .more-btn{
    visibility: visible !important;
  }
  #slider .carousel-caption {
    top: 40%;
    left: 20%;
    right: 0%;
  }
  /*.calc-fields.calc-list.calc-list__indexed.loaded{
    position: static !important; 
    transform: translate(57%, 9%);
  }*/
  .calc-fields.calc-list.calc-list__indexed.loaded{
    position: static !important;
    transform: translate(0%, 11.5%);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .calculator-settings.ccb-front{
    background: #000;
  }
  .carousel-control-prev, .carousel-control-next{
    bottom: 40em;
  }
  /*#slider .calculator-settings.ccb-front{
    padding-bottom:15px ;
  }*/
  .about-img-list span {
    width: 75%;
  }
  .calc-subtotal-wrapper {
    max-width: 448px !important;
    position: unset!important;
    transform: unset!important;
    width: 100%!important;
    padding: 4px 24px !important;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1024px){
  p.site-title, .logo h1 {
    font-size: 22px;
  }
  .main-header input[type="search"]{
    width: 82%;
  }
  .middle-header input[type="search"]{
    width: 80%;
  }
  .page-template-custom-home-page .home-page-header{
    position: static;
  }
  #slider .carousel-caption {
    top: 40%;
    left: 14%;
    right: 30%;
  }
  .topbar a, .topbar p, .topbar i, .meta-sec{
    font-size: 11px;
  }
  /*.calc-fields.calc-list.calc-list__indexed.loaded{
    position: static !important; 
    transform: translate(56%, 0%);  
    margin-left: 12% !important;
    margin-top: -8%;
  }*/
  
  .calculator-settings.ccb-front{
    background: #000;
    margin-top: 0 !important;
  }
  .carousel-control-prev, .carousel-control-next{
    bottom: 40em;
  }
  /*.calc-container-wrapper{
    padding: 10% 10px;
  }*/
  .calc-fields.calc-list.calc-list__indexed.loaded{
    position: static !important;
    transform: translate(0%, 0%);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .calc-container-wrapper{
    padding: 1% 0% 10% 0%;
  }
  .calc-subtotal-wrapper{
    transform: translate(-164%, -2em);
    margin: 15px auto !important;
    right: -8.9%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px){
  .calc-fields.calc-list.calc-list__indexed.loaded {
    transform: translate(-31%, -120%);
    margin-top: 0%;
    right: 6%;
  }
  .calc-subtotal-wrapper{
    transform: translate(-31%, -72%);
    margin: -21px auto !important;
    right: 8.2%;
  }
  #slider .carousel-control-next, #slider .carousel-control-prev{
    width: 6%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .calc-fields.calc-list.calc-list__indexed.loaded {
    transform: translate(0%, -135%);
    margin-top: 4%;

  }
  .calc-subtotal-wrapper{
    transform: translate(0%, -140%);
    margin: 19px auto !important;
  }
}