#customize-controls .control-section-vw-logistics-shipping .accordion-section-title:hover,
#customize-controls .control-section-vw-logistics-shipping .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-vw-logistics-shipping .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-vw-logistics-shipping .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.customize-control input[type=number], 
.customize-control input[type=search], 
.customize-control input[type=tel], 
.customize-control input[type=url], 
.customize-control input[type=text], 
.customize-control input[type=password],
.customize-control input[type=email],
.customize-control select{
	border: none;
}
.customize-control-title, .premium-opt {
  display: -webkit-inline-box;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #0085ba;
  padding: 0px 15px;
  color: #fff;
}
a.go-pro-btn {
  background-color: #00a32a;
  border-color: #00a32a;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  padding: 5px 10px 5px 10px;
  margin: 8px 0px 0px 0px;
  border-radius: 3px;
  font-weight: 600;
  display: inline-block;
}
/*------- Typogarphy ----------*/

.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-style,
.customize-control-typography li.typography-font-size,
.customize-control-typography li.typography-line-height {
  float: left;
  width: 50%;
}
.customize-control-typography li.typography-font-weight select,
.customize-control-typography li.typography-font-style select {
  width: 90%;
}
.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
  clear: both;
}
.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
  width: 118px;
}
input.typography-font-color {
 padding: 0;
 margin: 0;
}
.customize-control-vw-logistics-shipping-typography ul{
  border-bottom: solid 1px #999;
  padding-bottom: 12px;
  padding-left: 0;
}
#customize-control-h1_typography,
#customize-control-h2_typography,
#customize-control-h3_typography,
#customize-control-h4_typography,
#customize-control-h5_typography{
  border-bottom: solid 2px #1e1e1e1e;
  padding-bottom: 12px;
}

/* ---------Customizer--------- */
.control-section-vw-logistics-shipping h3.accordion-section-title {
  font-size: 12px !important;
  color: #fff !important;
  background-color:#FF8800 !important;
  padding: 12px 10px;
}
a.button.button-secondary.alignright {
  color: #000;
  box-shadow: none;
  font-weight: bold;
  padding: 3px 10px;
  background: #fff;
  height: 30px;
  font-size: 12px !important;
  border-radius: 5px;
  border: none;
}
a.button.button-secondary.alignright:hover {
  background: #000;
  color: #fff;
  border:none;
}
/* ---------Image Toggle --------- */
img.vw-logistics-shipping-radio-img-img {
  width: 80px;
  margin-right: 3px;
}
img.vw-logistics-shipping-radio-img-selected {
  border: solid 2px #0085ba;
}
ul#vw-logistics-shipping-img-container{
  padding-left: 0;
}
/* ---------Excerpt & Logo --------- */
input#_customize-input-vw_logistics_shipping_excerpt_number,
input#_customize-input-logo_size,
input#_customize-input-vw_logistics_shipping_slider_excerpt_number, 
input#_customize-input-vw_logistics_shipping_services_excerpt_number{
  width: 100%;
}
.vw-logistics-shipping-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}
input[type="range"] {
  width: 100%;
}
/* ---------FontAwesome Icon Styles--------- */
.type-icon{
  overflow: hidden;
}
.selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}
.selected-icon .fa{
  display: block;
  line-height: 45px;
}
.selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}
.icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}
.icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}
.icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.vw-logistics-shipping-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}
input[type="range"] {
  width: 100%;
}

/*customizer pro section Css*/
li#accordion-section-vw_logistics_shipping_services_us_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_order_tracking_us_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_steps_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_pricing_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_whyChooseUs_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_testimonials_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_our_team_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_faq_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_getintouch_section .accordion-section-title:after,
li#accordion-section-vw_logistics_shipping_blog_section .accordion-section-title:after{
  content: "PRO";
  padding: 4px 10px;
  background: #0085ba;
  color: #fff;
  font: unset;
  line-height: 18px;
  border-radius: 5px;
  font-size: 12px;
}
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_services_us_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_order_tracking_us_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_steps_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_pricing_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_whyChooseUs_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_testimonials_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_our_team_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_faq_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_getintouch_section .accordion-section-title:after,
#customize-controls .control-section:hover>li#accordion-section-vw_logistics_shipping_blog_section .accordion-section-title:after{
  color: #fff;
} 